@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

.navbar {
  background-color: black;
  color: white;
  height: 64px;
  padding: 12px 64px;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 16px;
}

li {
  padding: 10px 12px;
}

li:hover {
  cursor: pointer;
}

.left {
  display: flex;
  height: 40px;
  float: left;
}

.left img {
  height: 50px;
  margin: 0px 20px 0px 0px;
}
.right {
  float: right;
}

.right button {
  border-radius: 30px;
  width: 70px;
  font-weight: 500;
}

.body1 {
  background-color: black;
  color: white;
}
.content1 {
  padding: 10px 95px;
  overflow: auto;
  display: flex;
}

.innerbox {
  display: flex;
  flex-direction: column;
  float: left;
  width: 900px;
}

.box1 {
  float: left;
  position: relative;
  top: 210px;
  width: 100%;
}

.box2 {
  float: left;
  position: relative;
  top: 210px;
  margin: 20px 0px 0px;
}

.Go {
  margin: 0px 0px 40px 0px;
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}

.img1 {
  float: right;
  padding: 30px;
}

.inputboxes {
  line-height: 60px;
}
.inputboxes input {
  width: 400px;
  height: 48px;
  border-radius: 10px;
  border-color: transparent;
  padding: 12.5px 0px 10px 36px;
}

.inputboxes input::placeholder {
  font-size: larger;
}

.price button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
  color: #000000;
  background-color: #ffffff;
}

.body2 {
  display: flex;
  padding: 64px 80px;
  gap: 170px;
}

.box3 {
  position: relative;
  top: 70px;
}
.drive {
  font-size: 52px;
  font-weight: 700;
  line-height: 64px;
}

.make {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.getstarted button {
  justify-content: center;
  border-left-width: 0;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-style: none;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  outline: none;
  box-shadow: none;
  text-decoration: none;
  transition-property: background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0, 0, 1, 1);
  cursor: pointer;
  margin-left: 0;
  margin-top: 12px;
  margin-right: 0;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 25px;
  padding-right: 25px;
  color: #ffffff;
  background-color: #000000;
}

.getstarted input {
  background-position: 0 bottom, 0 bottom;
  background-repeat: no-repeat;
  background-size: 0% 6px, 100% 6px;
  color: #000000;
  font-size: 16px;
  cursor: pointer;
  padding-bottom: 6px;
  text-decoration: underline;
  border: transparent;
  width: 260px;
  font-weight: 600;
  color: #000000;
}

.body5 {
  background-color: #f8f4f4;
  padding: 85px;
  overflow: auto;
}

.its {
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
}

.b1 {
  float: left;
  background-color: white;
}

.b2 {
  float: right;

  background-color: white;
}
